:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #212121;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent-color: rgb(102, 57, 139);
}
input:disabled, textarea:disabled, select:disabled {
  background: #ddd;
}
.flex-box {
  display: flex;
  align-items: center;
}
label {
  display: flex;
  align-items: center;
}
.input-box {
  position: relative;
  margin: 10px 0;
  padding-bottom: 10px;
}
.input-text {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 6px 12px;
  color: #212121;
  box-sizing: border-box;
}
select {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 6px 12px;
  box-sizing: border-box;
}
select option {
  color: #212121;
}
.input-checkbox {
  padding: 5px 10px;
}
input {
  margin-right: 10px;
  accent-color: var(--accent-color);
  min-height: 1rem;
  min-width: 1rem;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.85);
}
button {
  padding: 8px 15px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}
.base-button:hover {
  background: #fafafa;
}
.success-button {
  margin: 0 10px;
  background: #212121;
  color: white;
}
.form-repeater .input-box {
  padding-bottom: 0;
}
.required {
  color: rgb(206, 5, 5);
}
